*{
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  background-image: url("../images/bg.jpg");
  background-size: contain;
}
h1{
  color: yellow;
  z-index: 3;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
article{
  background-color: white;
  width: 100%;
}
article p {
  text-align: center;
}
input{
  width: 100%;
}
.container{
  background-color: transparent;
}
.nav-btn {
  background-color: #A63534;
  color: white;
  padding: 8px 50px;
  text-transform: uppercase;
}
.top-image{
  width: 100%;
  height: 300px;
  border: 8px solid #fff;
}
.test {
  height: 271px;
  width: 97%;
}
.skateboards{
  transform: rotate(90deg) translateY(-100%);
  transform-origin: top left;
  height: 39%;
  width: 96px;
}
.article-continue {
  color: #A63534;
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
}
textarea{
  width: 100%;
}
input{
  display: block;
  margin-bottom: 4px;
}
.form{
  background-color: #fff;
}
.form-btn{
  background-color: #A63534;
  padding: 2px 90px;
  color: white;
  border: none;
  float: right;
}
.top-section{
  position: relative;
}
.logo{
  position: absolute;
  top: 20px;
  left:10px;
}
.cards{
  max-height: 50px;
}
.sk8ers{
  // border: 4px solid white;
}
.skate-test{
  // border: 20px solid red;
}
.row{
  background-color: white;
}
